<!-- Login Area -->
<div class="auth-main-content auth-bg-image">
    <div class="d-table">
        <div class="d-tablecell">
            <div class="auth-box">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="form-left-content">
                            <div class="auth-logo">
                                <a routerLink="/">
                                    <img
                                        src="assets/img/Logo.png"
                                        alt="Logo"
                                        height="100"
                                        width="200"
                                    />
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-content">
                            <h1 class="heading">Log In</h1>
                            <form class="">
                                <div class="form-group">
                                    <label class="form-label"
                                        >Email address</label
                                    >
                                    <input
                                        type="email"
                                        class="form-control"
                                        id="email"
                                        name="email"
                                        [(ngModel)]="email"
                                    />
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Password</label>
                                    <input
                                        type="password"
                                        class="form-control"
                                        id="password"
                                        name="password"
                                        [(ngModel)]="password"
                                    />
                                </div>
                                <div class="text-center">
                                    <button
                                        type="submit"
                                        class="btn btn-primary"
                                        (click)="handleSubmit()"
                                    >
                                        Log In
                                    </button>
                                    <a
                                        class="fp-link"
                                        href="forgot-password.html"
                                        >Forgot Password?</a
                                    >
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Login Area -->
